.div {
  height: 100px;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(80,114,182,.4);
}

.span {
  width: 25vw;
  height: 100px;
  background: rgba(240,219,79,.4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.big {
  font-size: 70px;
}

.page {
  height: 80vh;
  width: 60vw;
  position: relative;
}

.page header {
  height: 20%;
  width: 100%;
  background-color: rgba(240,219,79,.5);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page main {
  height: 60%;
  width: 60%;
  background-color: rgba(101,199,222,.5);
  float: left;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page aside {
  height: 60%;
  width: 40%;
  background-color: rgba(222,101,101,.5);
  float: left;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page footer {
  height: 20%;
  width: 100%;
  background-color: rgba(100,184,154,.5);
  float: left;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
